.header {
  .title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: bold;
  }

  .month-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .month-select {
      width: 176px;
      height: 31px;
    }

    .month-button {
      width: 29px;
      height: 29px;
      border: 1px solid #636365;
      text-decoration: none;
      color: #636365;
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &[disabled] {
        border-color: #f0f0f0;
        cursor: default;
        i {
          border-color: #f0f0f0;
        }
      }

      i {
        border: solid #636365;
        border-width: 0 2px 2px 0;
        display: inline-block;
        width: 8px;
        height: 8px;

        &.right {
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          margin-right: 2px;
        }

        &.left {
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          margin-left: 2px;
        }
      }
    }
  }
}
